@import url('./assets/reset.css');
@import url('./assets/typography.css');
@import url('./assets/responsive.css');

body {
  min-height: 100vh;
  padding-bottom: 4rem;
  position: relative;
  background-color: rgb(240, 255, 244);
  text-align: center;
}