@import url("../css/variables.css");

html {
    box-sizing: border-box;
}

*,
*:before *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Ubuntu, sans-serif;
    font-size: var(--sizing-fs-base);
    line-height: 1.5;
}

@media (min-width: 600px) {
    html {
        font-size: var(--sizing-fs-tablet);
    }
}

@media (min-width: 1260px) {
    html {
        font-size: var(--sizing-fs-laptop);
    }
}

@media (min-width: 1420px) {
    html {
        font-size: var(--sizing-fs-desktop);
    }
}

@media (min-width: 1660px) {
    html {
        font-size: var(--sizing-fs-huge);
    }
}

p {
    padding-bottom: calc(var(--sizing-ws-base) * (2 / 3));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Abril Fatface, serif;
    line-height: 1.1;
    margin: 0 0 calc(var(--sizing-ws-base) / 3) 0;
    padding: 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.9em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

body {
    width: 60vw;
    margin: 2rem auto;
    border: 2px solid var(--font-color-alternative);
    border-radius: 0.3em;
    padding: 3rem;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    width: 28%;
    list-style: none;
    color: var(--font-color-primary);
}

a {
    padding: 0.6rem 0.8rem;
    color: var(--font-color-white);
    background: var(--font-color-alternative);
    border-radius: 0.3em;
    text-decoration: none;
}

a:hover {
    color: var(--font-color-alternative);
    background: var(--font-color-primary);
}