.band{
    display: flex;
    flex: 1 1;
    justify-content: center;
    min-width: 30rem;
    padding: 2rem;
    border: 1px solid #333;
    border-radius: 0.3rem;
    color: #333;
    margin: 2rem;
    background: rgb(126, 15, 15);
}

.band-info{
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background: rgb(248, 215, 142);
}

a{
    text-decoration: none;
    color: #333333;
}

img:hover {
  transform: scale(1.20);
}

img{
    height: 10rem;
    width: auto;
    margin: 0 2rem 0 1rem;

    -webkit-transition: -webkit-transform;
    transition: transform;
    transition: transform,
    -webkit-transform;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(.2, .3, 0, 1);
    transition-timing-function: cubic-bezier(.2, .3, 0, 1);
}

h2{
    padding-top: 0;
}