@import url("typography.css");

body {
    background: rgb(238, 238, 238);
}

aside {
    float: right;
    width: 10%;
    margin-left: 2rem;
}

.main-site {
    float: left;
    width: 85%;
}

.site-title {
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

body {
    max-width: 80rem;
    padding: 2rem;
}

blockquote {
    max-width: 30rem;
    border-left: 3px solid rgb(100, 100, 100);
    color: rgb(100, 100, 100);
    padding: 1rem;
    margin-bottom: 2rem;
    float: right;
    font-family: Georgia, serif;
}

.author-name {
    text-align: right;
}

img {
    border: 2px solid black;
    padding: 0.5rem;
}

#pic-float-left {
    float: left;
}

#pic-float-right {
    float: right;
}

hr {
    margin-bottom: 2rem;
}

.image-container-left {
    box-shadow: 1rem rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    float: left;
}

.image-container-right {
    box-shadow: 1rem rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    float: right;
}

a {
    color: rgb(0, 102, 0);
}

header nav {
    margin: 0 0 5rem 30rem;
}

header nav li {
    float: left;
    margin: 0 2rem;
}