.band-detail-page {
  color: #333;
}

p, img{
  margin-bottom: 1rem;
}

.post {
  margin: 0 auto;
}

@media (max-width: 800px) {
  .post {
    max-width: 80%;
  }
}

@media (min-width: 800px) {
  .post {
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  .post {
    max-width: 60%;
  }
}

@media (min-width: 1280px) {
  .post {
    max-width: 50%;
  }
}

.post-content {
  border: 1px solid #333;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.92);
  background: rgb(55, 55, 55);
}

img {
  height: 15rem;
  width: auto;
}

h2 {
  padding-bottom: 2rem;
}