.band-detail-page {
  color: #333;
}

p, img{
  margin-bottom: 1rem;
}

.post {
  max-width: 30%;
  margin: 0 auto;
}

.post-content {
  border: 1px solid #333;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.92);
  background: rgb(55, 55, 55);
}

img {
  height: 15rem;
  width: auto;
}

h2 {
  padding-bottom: 2rem;
}