@import url("typography.css");

body {
    background: rgb(238, 238, 238);
}

section {
    background: rgb(255, 255, 255);
}

button {
    background: rgb(0, 153, 0);
}

section:before {
    display: block;
    content: '';
    width: 50%;
}

section {
    position: relative;
    height: 80rem;
    width: 110rem;
    display: block;

}

img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}