<div id="edit-meme">
    <form id="editForm" action="#/memes/edit" method="POST">
        <h1>Edit Meme</h1>
        <div class="container">
            <p>Please fill in this form to edit an meme.</p>

            <input type="hidden" name="memeId" value="" />

            <p>Title</p>
            <input type="text" placeholder="Enter Title" name="title" value="Title" required>

            <p>Description</p>
            <input type="text" placeholder="Enter Description" name="description" value="Description" required>

            <p>Meme Image</p>
            <input type="text" placeholder="Enter Meme ImageUrl" name="imageUrl" value="ImageUrl" required>

            <button type="submit" class="registerbtn">Edit Meme</button>
        </div>
    </form>
</div>

<script>
    $(function () {
        $('#edit-car-form').on('submit', function (ev) {
            let isValid = true;
            if ($("input[name='title']").val().trim().length > 33) {
                isValid = false;
                showError('Title should not exceed 33 characters.');
            }
            else if ($("input[name='description']").val().trim().length < 30 || $("input[name='description']").val().trim().length > 450) {
                isValid = false;
                showError('Description should be between 30 and 450 symbols long.');
            }
            else if ($("input[name='brand']").val().trim().length > 11) {
                isValid = false;
                showError('Brand should not be more than 11 symbols long.');
            }
            else if ($("input[name='fuel']").val().trim().length > 11) {
                isValid = false;
                showError('Fuel should not be more than 11 symbols long.');
            }
            else if ($("input[name='model']").val().trim().length > 11) {
                isValid = false;
                showError('Model should not be more than 11 symbols long.');
            }
            else if ($("input[name='model']").val().trim().length < 4) {
                isValid = false;
                showError('Model should be more than 3 symbols long.');
            }
            else if ($("input[name='year']").val().trim().length !== 4) {
                isValid = false;
                showError('Year should be exactly 4 symbols long.');
            }
            else if (+$("input[name='price']").val().trim() > 1000000) {
                isValid = false;
                showError('Price should be less than 1000000.');
            }

            if (!isValid) {
                ev.preventDefault();
                ev.stopPropagation();
            }
        });
    });
</script>